<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <param name="robot_description" textfile="$(find b_robot_description)/models/b_robot.xacro" />
    <node name="b_robot_loader" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model Robot_model -x 0.00 -y 0.00 -z 0.00" />
</launch>